<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <menuitem id="erp_root"
              name="ERP"
              sequence="1"/>

    <!--  2th lvl Sales  -->
    <menuitem id="erp_sales_root"
              name="المبيعات"
              parent="erp_root"
              sequence="1"/>

    <menuitem id="menu_sale_quotations" name="عروض الأسعار"
                action="sale.action_quotations_with_onboarding"
                parent="erp_sales_root"
                sequence="1" groups="sales_team.group_sale_salesman"/>

    <menuitem id="menu_sale_order"
            name="أوامر البيع"
            action="sale.action_orders"
            parent="erp_sales_root"
            sequence="2" groups="sales_team.group_sale_salesman"/>

    <menuitem id="res_partner_menu"
            parent="erp_sales_root"
              name="العملاء"
            action="account.res_partner_action_customer"
            sequence="4" groups="sales_team.group_sale_salesman"/>

    <!--  2th lvl Purchase  -->
    <menuitem id="erp_purchase_root"
              name="المشتريات"
              parent="erp_root"
              sequence="2"/>

    <menuitem id="menu_purchase_rfq"
              action="purchase.purchase_rfq"
              parent="erp_purchase_root"
              name="طلبات عرض السعر" sequence="0"/>

    <menuitem id="menu_purchase_form_action"
              action="purchase.purchase_form_action"
              parent="erp_purchase_root"
              name="أوامر الشراء" sequence="2"/>

    <menuitem id="menu_procurement_management_supplier_name"
              name="الموردون" parent="erp_purchase_root"
              action="account.res_partner_action_supplier"
              sequence="15"/>

    <!--  2th lvl Products  -->
    <menuitem id="erp_product_root"
              name="المنتجات"
              parent="erp_root"
              sequence="5"
              groups="sales_team.group_sale_salesman"/>

    <menuitem action="sale.product_template_action"
              id="menu_product_template_action"
              parent="erp_product_root"
              name="المنتجات"
              sequence="1"/>

    <!--  2th lvl Reporting  -->
    <menuitem id="erp_report_root"
            name="التقارير"
            parent="erp_root"
            sequence="8"
            groups="sales_team.group_sale_manager"/>

    <menuitem id="menu_report_product_all"
            name="تحليل المبيعات"
            action="sale.action_order_report_all"
            parent="erp_report_root"
            sequence="1"/>


    <!--  END 2th lvl Configuration  -->

     <!--  2th lvl Configuration  -->
<!--    <menuitem id="erp_config_root"-->
<!--              name="Configuration"-->
<!--              parent="erp_root"-->
<!--              sequence="10"/>-->

<!--    <menuitem id="Config_activity_type"-->
<!--              name="Activity Type"-->
<!--              parent="hospital_Config_root"-->
<!--              action="activity_type_action"-->
<!--              sequence="1"/>-->

    <!--  END 2th lvl Configuration  -->




</odoo>